#rules {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(184, 38, 1, 0.98);
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .5s ease all;
    padding: 50px;
  }
  
  #rules button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }